html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: white;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/layer.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.inner-page {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button {
  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.button:focus,
.button:hover,
.button:active {
  background-color: #663d15;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: white;

  background-color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:focus,
.site-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:hover {
  background-color: #242424;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.main-footer {
  color: #ffffff;

  background-color: #242424;
  background-image: url("../img/foofer-bg.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:focus,
.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:focus,
.footer-copyright .button:hover {
  color: #000000;
  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.modal-login input[type="text"],
.modal-login input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.modal-login input:focus,
.modal-login input:hover {
  background-color: #663d15;
}

.login-checkbox:focus,
.login-checkbox:hover {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:focus,
.restore:hover {
  text-decoration: none;
}

.modal-map img {
  border: 7px solid #ffffff;
}

.filters {
  line-height: 18px;
}

.filters legend {
  font-size: 24px;
  line-height: 30px;
}

.filter-input:focus,
.filter-input:hover {
  color: #663d15;
}

.catalog-item {
  list-style: none;
}

.catalog-item a {
  color: #000000;
}

.catalog-item-image {
  background-color: #cccccc;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price a {
  color: #ffffff;
}

.catalog-item-price b {
  display: block;
  float: left;
  background-color: #e5e5e5;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  background-color: #000000;
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item-current {
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #000000;
}

.pagination-item:focus,
.pagination-item:hover {
  background-color: #663d15;
}

.product-photo-preview {
  list-style: none;
}
